#auth #auth-right {
    background: url(/assets/images/bg/4853433.jpg),
        linear-gradient(45deg, #074628, #44af7d);
    background-size: cover;
}

.form-control:focus {
    border-color: #8abba8;
    box-shadow: 0px 0px 8px rgba(138, 187, 168, 0.5);
}
