body {
    font-family: "Inter", sans-serif;
    background-color: #e1fff0;
}

.text-muted {
    color: #8abba8 !important;
}

.fs-14px {
    font-size: 14px;
}

/* sidebar-title */
.sidebar-wrapper .menu .sidebar-title {
    font-weight: 500;
}

/* sidebar-item */
.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #198754;
}

/* sidebar-link */
.sidebar-wrapper .menu .sidebar-link {
    color: #198754;
}

/* sidebar-icon */
.sidebar-wrapper .menu .sidebar-link i,
.sidebar-wrapper .menu .sidebar-link svg {
    color: #8abba8;
}

/* sidebar submenu */
.sidebar-wrapper .menu .submenu .submenu-item a {
    color: #198754;
    font-weight: 500;
}

.img-candidate-rounded {
    border-radius: 12px;
}

.img-candidate-rounded-top {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.img-candidate-fit {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.img-candidate-fit-rounded {
    border-radius: 12px;
    object-fit: cover;
}

/* pagination background-color */
.pagination.pagination-primary .page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
}
