body {
    font-family: "Inter", sans-serif;
    background-color: #d5f5e6;
}

.text-muted {
    color: #8abba8 !important;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #198754;
}

.sidebar-wrapper .menu .sidebar-link {
    color: #198754;
}

.img-candidate-rounded {
    border-radius: 12px;
}

.img-candidate-rounded-top {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.img-candidate-fit {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.img-candidate-fit-rounded {
    border-radius: 12px;
    object-fit: cover;
}

.pagination.pagination-primary .page-item.active .page-link {
    background-color: #198754;
    border-color: #198754;
}
